
*{
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

.flexContainer{
    display: flex;
    flex-direction: row;
    font-size: 16px;
    text-align: justify;
    justify-content: right;
    align-items:flex-start;
}

.flexItem2{
    padding: 20px;
    flex: 50px;
}

.flexItem2 img{
    width: 100%;
    float: left;
}

.topNav{
    overflow: hidden;
    background-color: gray;

}

.topNav a{
    float: left;
    color: rgb(0, 0, 0);
    text-align: center;
    padding:9px 16px;
    text-decoration: none; 
    font-size: 17px;
     
}

.topNavRight{
    float: right;
}

.topNav a:hover{
    background-color: rgb(255, 0, 0);
}

.topNav a.active{
    background-color: rgb(255, 0, 0);
    color: rgb(255, 0, 0);
    }


